table.month {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    td {
        border: 1px solid grey;
        height: 100px;
        text-align: right;
        vertical-align: top;
    }

    caption {
        font-size: 28px;
    }

    .note {
        text-align: left;
        background-color: lightgreen;
        padding: 5px;
        margin: 3px;
        cursor: pointer;

        p {
            font-size: 13px;
            margin: 0;
        }
    }

    button {
        font-size: 16px;
        border: none;
        background: white;
        outline: none;
        cursor: pointer;
        padding-right: 0;

        &:hover {
            text-shadow: 0px 0px 10px grey;
        }
    }
}