@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="auth-container">
    <div class="auth-form">
        <h1>Register</h1>

        <form method="post">
            <div asp-validation-summary="All" class="validation-msg"></div>
            <div>
                <input asp-for="Input.UserName" class="input-big" placeholder="@Html.DisplayNameFor(x => x.Input.UserName)" />
                <span asp-validation-for="Input.UserName" class="validation-msg"></span>
            </div>
            <div>
                <input asp-for="Input.Password" class="input-big" placeholder="@Html.DisplayNameFor(x => x.Input.Password)" />
                <span asp-validation-for="Input.Password" class="validation-msg"></span>
            </div>
            <div>
                <input asp-for="Input.ConfirmPassword" class="input-big" placeholder="@Html.DisplayNameFor(x => x.Input.ConfirmPassword)" />
                <span asp-validation-for="Input.ConfirmPassword" class="validation-msg"></span>
            </div>
            <div>
                <button type="submit" class="button-big">Register</button>
            </div>
        </form>
    </div>
</div>
